DATABASE_URL_DEV='postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public'
DATABASE_URL_PROD='postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public'

MODE="development"

MYSQL_URL_DEV=""
MYSQL_URL_PROD=""

JWT_SECRET=""
JWT_ACCESS_TOKEN_SECRET=""
JWT_ACCESS_TOKEN_EXPIRATION_TIME="3600"
JWT_REFRESH_TOKEN_SECRET=""
JWT_REFRESH_TOKEN_EXPIRATION_TIME="2592000"

AWS_BUCKET_NAME=""
AWS_BUCKET_REGION=""
AWS_ACCESS_KEY=""
AWS_SECRET_KEY=""